* {font-family: sans-serif;}

body.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, royalblue, midnightblue);
}

@media (max-width: 800px) {
  body.login {
    flex-direction: column;
  }
}

.center {
  position: relative;
  padding: 50px 50px;
  background: #eef;
  border-radius: 10px;
} 
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

header h1 {
  color:#fff;
  text-align: center;
  margin-right:16px;
}

.center h2 {
  font-size: 1.5em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.erroLogin {display:none;}

footer{
  position: absolute;
  bottom: 0;
  color: #fff;
}

/*  V Chapa V  */

div.selecao{
  text-align: center;
}

.input_search{
  width: 50%;
  height: 8vh;
  background-color: #eeeeee;
}

div.selecao_adm{
  text-align: center;
}

div.administrador{
  display:inline-block;
  margin: 1em;
  width: 250px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

div.administrador:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 100, 255, 0.8);
}

div.chapa {
  display:inline-block;
  margin: 1em;
  width: 250px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

div.chapa:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 100, 255, 0.8);
}

div.imagemchapa {
  border-radius: 16px;
  background-color: midnightblue;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.nomechapa {
  padding: 10px;
}

/* ^ Chapa ^ */

.telasucesso {
  background: #4CAF50;
  color: #fff;
}

.telaerro {
  background: crimson;
  color: #fff;
}

.textoaviso {
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}